@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy.woff2") format("woff2"),
    url("../font/Gilroy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-Black";
  src: url("../font/Gilroy-Black.woff") format("woff"),
    url("../font/Gilroy-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  background: #282828;
  font-family: "Gilroy";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.5vh;
  height: 100vh;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
}
#errorp {
  color: white;
  font-size: 2vh;
}
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#sectionmain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}
main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 1vh;
  width: 100%;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
section div {
  margin-right: 0.6vh;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
section div::nth-letter(even) {
  margin-top: 20vh;
}
#F1,
#F5,
#F9 {
  margin-left: 4.7vh;
}
.pressDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 5vh;
  width: 5vh;
  color: white;
  border-radius: 0.3vh;
  -webkit-transition: border 0.2s, background 0.05s, opacity 0.1s,
    -webkit-box-shadow 0.2s;
  transition: border 0.2s, background 0.05s, opacity 0.1s,
    -webkit-box-shadow 0.2s;
  -o-transition: border 0.2s, background 0.05s, box-shadow 0.2s, opacity 0.1s;
  transition: border 0.2s, background 0.05s, box-shadow 0.2s, opacity 0.1s;
  transition: border 0.2s, background 0.05s, box-shadow 0.2s, opacity 0.1s,
    -webkit-box-shadow 0.2s;
}
#Space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 5vh;
  width: 45vh;
  border-radius: 0.3vh;
}
#sectionMain {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}
#Backspace {
  width: 13.5vh;
}
#Tab {
  width: 8.5vh;
}
#Backslash {
  width: 10vh;
}
#Enter {
  width: 14.5vh;
  margin-right: 18.5vh;
}
#CapsLock {
  width: 9.5vh;
}
#ShiftRight {
  width: 17vh;
}
#ShiftLeft {
  width: 12.5vh;
}
#AltLeft,
#AltRight,
#ContextMenu,
#ControlLeft,
#ControlRight,
#MetaLeft {
  width: 6.25vh;
}
#Delete,
#Insert,
#PrintScreen {
  margin-left: 1.8vh;
}
#ArrowLeft {
  margin-left: 1.8vh;
}
#ArrowUp {
  margin-left: 7.38vh;
}
.activekey {
  background: rgb(0, 255, 128);
  font-weight: 600;
  color: black;
  box-shadow: 0 0 5px rgba(0, 255, 128, 0.4),
                0 0 25px rgba(0, 255, 128, 0.4),
                0 0 50px rgba(0, 255, 128, 0.4),
                0 0 200px rgba(0, 255, 128, 0.4);
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
.activekeyellow {
  background: #ffdf7f;
  box-shadow: 0 0 5px rgba(255, 223, 127, 0.5),
                0 0 25px rgba(255, 223, 127, 0.5),
                0 0 50px rgba(255, 223, 127, 0.5),
                0 0 200px rgba(255, 223, 127, 0.5);
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  color: black;
}
.activeblue {
  background: #00a7d6;
  color: black;
  box-shadow: 0 0 5px rgba(0, 167, 214, 0.5),
  0 0 25px rgba(0, 167, 214, 0.5),
  0 0 50px rgba(0, 167, 214, 0.5),
  0 0 200px rgba(0, 167, 214, 0.5);
-webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
#settingblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  bottom: 6vh;
  z-index: 999;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
#sectionforflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
}
#settingblock input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 4.5vh;
  width: 4.5vh;
  border-radius: 0.3vh;
  outline: none;
  margin: 0 0.3vh;
}
#bluebg,
#purplebg,
#yellowbg {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
#yellowbg {
  border: 0.1vh solid #ffdf7f;
  background: transparent;
  color: white;
}
#yellowbg:hover {
  background: #ffdf7f;
  color: black;
  box-shadow: 0 0 5px rgba(255, 223, 127, 0.5),
                0 0 25px rgba(255, 223, 127, 0.5),
                0 0 50px rgba(255, 223, 127, 0.5),
                0 0 200px rgba(255, 223, 127, 0.5);
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
#purplebg {
  background: transparent;
  border: 0.1vh solid #00ff80;
  color: white;
}
#purplebg:hover {
  background: rgb(0, 255, 128);
  box-shadow: 0 0 5px rgba(0, 255, 128, 0.4),
                0 0 25px rgba(0, 255, 128, 0.4),
                0 0 50px rgba(0, 255, 128, 0.4),
                0 0 200px rgba(0, 255, 128, 0.4);
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  color: black;
}
#bluebg {
  background: transparent;
  border: 0.1vh solid #00a7d6;
  color: white;
}
#bluebg:hover {
  background: #00a7d6;
  box-shadow: 0 0 5px rgba(0, 167, 214, 0.5),
  0 0 25px rgba(0, 167, 214, 0.5),
  0 0 50px rgba(0, 167, 214, 0.5),
  0 0 200px rgba(0, 167, 214, 0.5);
-webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
.press_keys_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  position: fixed;
  top: 20vh;
  color: white;
  font-size: 2vh;
  max-width: 60vw;
  overflow: hidden;
  padding-bottom: 1vh;
}
#entry span {
  margin: 0 0.5vh;
  cursor: default;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#hrefdevelop {
  color: white;
  opacity: 0.2;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
#hrefdevelop:hover {
  opacity: 0.4;
}
#realfooter {
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100vw;
  padding-bottom: 1vh;
}
#reload {
  position: fixed;
  top: 2vh;
  right: 1vw;
  cursor: pointer;
  height: 2.45vh;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#reload:hover {
  -webkit-transform: rotate(230deg);
  -ms-transform: rotate(230deg);
  transform: rotate(230deg);
}
.userselect {
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
